<% page_heading "Edit Membership" %>

<h1>Editing Memberships %></h1>

<%= render 'form' %>

<%= link_to 'Show', [current_group, @membership] %> |
<%= link_to 'Back', group_memberships_path(current_group) %>
