<% page_heading "Edit Membership" %>

<h1>Editing Memberships</h1>

<%= render 'form' %>

<br />
<%= link_to group_memberships_path(current_group), :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back 
<% end %>&nbsp;
  <%= link_to 'Show', [current_group, @membership], :class => "btn" %>