- page_heading "Edit Membership"
%h1 Editing Memberships
= render 'form'
%br/
= link_to group_memberships_path(current_group), :class => "btn btn-inverse" do
  %i.glyphicon-white.glyphicon-arrow-left
  \&nbsp;Back
