<% page_heading "Members" %>

<h1>Listing Memberships</h1>
<% if can? :create, Membership.new{|m| m.group = current_group} %>
    <%= link_to "New Membership", new_group_membership_path(current_group) %>
<% end %>
<div id='pagination_table'>
    <%= render :partial => "index_partial" %>
</div>
<% if can? :create, Membership.new{|m| m.group = current_group} %>
  <%= link_to "New Membership", new_group_membership_path(current_group) %>
<% end %>