<%= javascript_tag "$.getScript(location.href);" %>
    
<% page_heading "Members" %>

<h1>Listing Memberships</h1>
<% if can? :create, Membership.new{|m| m.group = current_group} %>
  <%= link_to "New Membership", new_group_membership_path(current_group), :class => "btn" %>
<% end %>
<div class="row">
  <div class="margin span5">
   <input type="text" id="auto_memb" autocomplete="off" placeholder="Loading..." class="input-block-level autocomplete search-query" disabled />
  </div>
</div>
<div id='pagination_table'>
    <%= render :partial => "index_partial" %>
</div>
<% if can? :create, Membership.new{|m| m.group = current_group} %>
  <%= link_to "New Membership", new_group_membership_path(current_group), :class => "btn" %>
<% end %>
