<%= javascript_tag "
    var group = #{ current_group.to_param },
    dict = #{ @all_members.to_json },
    items = [];
    $.each(dict, function(key, val){
      items.push(key);
    });
    $(function() {
      $('#auto_memb').typeahead({
        source: items,
        updater:function (item){
          window.location.href = '/groups/' + group + '/memberships/' + dict[item]; 
        }
      });
    });
" %>

<% page_heading "Members" %>

<h1>Listing Memberships</h1>
<% if can? :create, Membership.new{|m| m.group = current_group} %>
  <%= link_to "New Membership", new_group_membership_path(current_group), :class => "btn" %>
<% end %>
<div class="row">
  <div class="margin span5">
   <input type="text" id="auto_memb" autocomplete="off" placeholder="Type to search memberships" class="input-block-level autocomplete" />
  </div>
</div>
<div id='pagination_table'>
    <%= render :partial => "index_partial" %>
</div>
<% if can? :create, Membership.new{|m| m.group = current_group} %>
  <%= link_to "New Membership", new_group_membership_path(current_group), :class => "btn" %>
<% end %>
