<% page_heading "Add new member" %>

<h1>New Membership</h1>

<%= render 'form' %>

<br />
<%= link_to group_memberships_path(current_group), :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back 
<% end %>