# Do not add Gemfile.lock here
.bundle
*.sqlite3
*~
*.swp
.rvmrc
doc/TODO
history.
*.html
.sass-cache

# Development temporary files
public/similarity_tree_images/*.png
log/*
tmp/*
.sass-cache/

# Local machine configuration files
config/database.yml
config/import.yml
config/sswl_migration.yml
config/deploy/*.rb
yamls/*.yml

# Test files
libpeerconnection.log
spec/csv/bad/bad_creator_id/*
spec/csv/bad/bad_foreign_key/*
spec/csv/bad/no_id/*
spec/csv/good/import.yml
spec/csv/good/*.csv
coverage.data
coverage/*
*.out

# IDE specific files
.idea/*

# Platform specific files
*.DS_Store

# Compile the assets on the production server
public/assets