.bundle
*.sqlite3
log/*
tmp/*
*~
*.DS_Store
*.swp
*.out
.idea/*
config/database.yml
.rvmrc
spec/csv/bad/bad_creator_id/*.csv
spec/csv/bad/bad_creator_id/*.yml
spec/csv/bad/bad_foreign_key/*.csv
spec/csv/bad/bad_foreign_key/*.yml
spec/csv/bad/no_id/*.csv
spec/csv/bad/no_id/*.yml
spec/csv/good/*.yml
spec/csv/good/*.csv
config/import.yml
doc/data/*
doc/TODO