# Do not add Gemfile.lock here
.bundle
*.sqlite3
log/*
tmp/*
*~
*.DS_Store
*.swp
*.out
coverage.data
coverage/*
.idea/*
config/database.yml
config/import.yml
config/sswl_migration.yml
.rvmrc
spec/csv/bad/bad_creator_id/*
spec/csv/bad/bad_foreign_key/*
spec/csv/bad/no_id/*
spec/csv/good/import.yml
spec/csv/good/*.csv
db/seed/*
doc/TODO
public/similarity_tree_images/*.png
history.
*.html