<% page_heading "Edit " + current_group.examples_lings_property_name %>

<h1>Editing <%= current_group.examples_lings_property_name.pluralize %></h1>

<%= render 'form' %>

<%= link_to 'Show', [current_group, @examples_lings_property] %> |
<%= link_to 'Back', group_examples_lings_properties_path(current_group) %>
