$navbar-color: #000000;
$background-color: #036564;
$ui-color: #033649; 
$highlight-color: #0088cc;
$link-color: #005580;

.show-table {
  td, th {
    text-align: center;
  }
  &.description-table {
    width: 40em;
  }
  td:first-child {
    width: 10em;
    font-weight: bold;
    color: $highlight-color;
    a {
      color: $link-color;
    }
  }
  td.small-comment {
    width:30%;
  }
  td.medium-comment {
    width:40%;
  }
  td.align-left {
    text-align:left;
  }
}


#header {
  background: $navbar-color;
  .brand {
    color: white;
  }
  div {
    background: inherit;
    border: none;
    padding: 0px 0px;
    li {
      padding: 0px 0px;
      color: white;
      .nav-status {
        color: $highlight-color;
        text-align: center;
        display: block;
      }
    }
  }
  .navbar-inner {
    padding: 5px 20px;
    .navbar-search{
      margin-top: 2px;
      select{
        padding: 4px 14px;
        padding-bottom: 0px;
        margin-top: 3px;
        color: #ffffff;
        background-color: #515151;
        border-color: #111111;
      }
      input {
        margin-top: -6px;
        color: #ffffff;
        background: #515151;
        border-color: #111111;
      }
    }
  }
  .buttons {
    margin-left: 10px;
    a {
      background: #515151;
      border-color: #111111;
      color: #ffffff;
      height: 80%;
      margin-top: 2px;
      padding: 7px 15px;
    }
  }
}

#search-form {
  .span7 {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
    border-color: $highlight-color;
  }
}

.form-horizontal {
  .text-adjust {
		color: $highlight-color;
		padding: 4px;
	}
}
.italic {
  font-style: italic;
}
.blue {
  color: darken($highlight-color, 10);
}
a.btn {
	color: #333333;
}

a.btn-danger, a.btn-info, a.btn-success, a.btn-warning, a.btn-inverse {
	color: #ffffff;
}

.whitebox {
  background: rgba(245,245,245, 0.8);
  padding: 2%;
}

.full-width {
  width: 100% !important;
}
