$navbar-color: #031634;
$background-color: #036564;
$ui-color: #033649; 
$highlight-color: #E8DDCB;
$link-color: #CDB380;

.show-table {
  td, th {
    text-align: center;
  }
  &.description-table {
    width: 40em;
  }
  td:first-child {
    width: 10em;
    font-weight: bold;
    color: $highlight-color;
    a {
      color: $link-color;
    }
  }
}

#header {
  background: $navbar-color;
  div {
    background: inherit;
    border: none;
  }
}

