$navbar-color: #000000;
$background-color: #036564;
$ui-color: #033649; 
$highlight-color: #0088cc;
$link-color: #005580;

.show-table {
  td, th {
    text-align: center;
  }
  &.description-table {
    width: 40em;
  }
  td:first-child {
    width: 10em;
    font-weight: bold;
    color: $highlight-color;
    a {
      color: $link-color;
    }
  }

  td.tiny-col {
    width:10%;
  }

  td.small-col {
    width:25%;
  }
  td.medium-col {
    width:30%;
  }
  td.align-left {
    text-align:left;
  }
  td.text-left {
    text-align:left;
  }
  td.middle {
    vertical-align: middle;
  }
}

#header {
  background: $navbar-color;
  .brand {
    color: white;
  }
  div {
    background: inherit;
    border: none;
    padding: 0px 0px;
    li {
      padding: 0px 0px;
      color: white;
      .nav-status {
        color: $highlight-color;
        text-align: center;
        display: block;
      }
    }
  }
  .navbar-inner {
    padding: 5px 20px;
    .navbar-search{
      margin-top: 2px;
      select{
        padding: 4px 14px;
        padding-bottom: 0px;
        margin-top: 3px;
        color: #ffffff;
        background-color: #515151;
        border-color: #111111;
      }
      input {
        margin-top: -6px;
        color: #ffffff;
        background: #515151;
        border-color: #111111;
      }
    }
  }
  .buttons {
    margin-left: 10px;
    a {
      background: #515151;
      border-color: #111111;
      color: #ffffff;
      height: 80%;
      margin-top: 2px;
      padding: 7px 15px;
    }
  }
}

#search-form {
  .span7 {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
    border-color: $highlight-color;
  }
}

.form-horizontal {
  .text-adjust {
		color: $highlight-color;
		padding: 4px;
	}
}
.italic {
  font-style: italic;
}
.blue {
  color: darken($highlight-color, 10);
}
a.btn {
	color: #333333;
}

a.btn-danger, a.btn-info, a.btn-success, a.btn-warning, a.btn-inverse, a.btn-primary {
	color: #ffffff;
}

.whitebox {
  background: rgba(245,245,245, 0.8);
  padding: 2%;
}

.full-width {
  width: 100% !important;
}

body.full_width #main h2 {
  margin-top: 0;
}

a.btn.btn-inverse i.icon-white.icon-arrow-left {
  margin-top: 2px;
}

input.autocomplete {
  height: 40px;
  position: relative;
  right: 30px;
}

ul.typeahead.dropdown-menu {
  width:inherit;
}

.will-paginate {
  .pagination {
    height:35px;  
  }
}

#property-selector{
  select {
    width: 100%;
  }
}

#supported-entry-container {
  .set-col {
    padding: 5px 10px;
  }
}

#category-select {
  margin-top: 10px;
  margin-right: 5px;
}

#prop-select {
  height: 300px;
}

#prop-name {
  height: 60px;
}

#prop-descrip {
  height: 300px;
  overflow: auto;
}

#prop-example {
  height: 150px;
}

#prop-active-example {
  height: 100px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  overflow: auto ;
}

#prop-example-selector {
  select {
    width: 100%;
  }
}

.cat-btn btn {
  display: block;
  margin-top: 10px;

  &:first {
    margin-top: 0px;
  }
}

#cat-prop {
  form{
    margin: 0px;
  }
}
