<% page_heading "Edit " + current_group.ling_name_for_depth(@depth) %>

<h1>Editing <%= current_group.ling_name_for_depth(@depth) %></h1>

<%= render 'form' %>

<%= link_to 'Show', [current_group, @ling] %> |
<%= link_to 'Back', group_lings_depth_path(current_group, @depth) %>
