var group = #{current_group.to_param},
id = #{@ling.id},
items = [],
dict  = {},
makeButton = function() {
return '<a class="remove-lang" href="/Remove"> <i class=\'icon-remove shift-down\'></a>';
},
hideList = function () {
$('#languages-container').addClass('hidden1');
$('#analysis').removeClass('span7').addClass('span12');
$('div#compare-buttons a').attr('disabled', 'disabled');
},
langsParams = function() {
return '&search[lings][0][]=' + ($.map( $('#selected-lings li'), function (val, i) { return dict[$.trim($(val).text())] })).join('&search[lings][0][]=');
},
searchQuery = function (param) {
var param = (!param) ? "" : param;
return '/groups/' + group + '/searches/preview?utf8=✓&search[include][ling_0]=1&search[include][property_0]=1&search[include][value_0]=1&search[include][example_0]=1&search[lings][0][]=' + id + langsParams() + '&search[ling_keywords][0]=&search[property_keywords][1]=&search[property_set][1]=any&search[lings_property_set][1]=any&search[example_fields][0]=description&search[example_keywords][0]=&search[javascript]=1' + param;
};

$(window).on('click', '.remove-lang', function (e) {
items.push(($(this).parent().text()));
$(this).parent().remove();
if ( !$('ul#selected-lings li').length ) {
hideList();
}
});

$(window).on('click', '.remove-langs', function (e) {
$('#selected-lings li').each( function () {
items.push($(this).text());
$(this).remove();
});
hideList();
});

$(window).on('click', '#compare-langs', function(e) {
if (! $(this).attr("disabled")) {
window.open(searchQuery('&search[ling_set][0]=compare'));
}
});

$(window).on('click', '#compare-tree', function() {
if (! $(this).attr("disabled")) {
window.open(searchQuery('&search[advanced_set][clustering]=hamming'));
}
});

$(window).on('click', '#compare-radial', function() {
if (! $(this).attr("disabled")) {
window.open(searchQuery('&search[advanced_set][clustering]=hamming_r'));
}
});
$(window).on('click', '#map', function() {
window.open('/groups/' + group + '/searches/geomapping?search[example_fields][0]=description&search[example_keywords][0]=&search[include][example_0]=1&search[include][ling_0]=1&search[include][property_0]=1&search[include][value_0]=1&search[javascript]=1&search[ling_keywords][0]=&search[lings][0][]=' + id + langsParams() + '&search[lings_property_set][1]=any&search[property_keywords][1]=&search[property_set][1]=any');
});
$(window).on('click', 'div.search-buttons a', function (e) {
e.preventDefault();
});

/ $.get(location.href.replace(/[\?#]+[^\?]*$/, "") + "/dict", function(data) {
/ dict = data;
/ $.each(dict, function(key, val) {
/ if (val !== id) {
/ items.push(key);
/ }
/ });
/ }).done( function() {
/ $('#auto_compare').typeahead({
/ source: items,
/ updater:function (item){
/ $('#languages-container').removeClass('hidden1');
/ $('#selected-lings').append($('<li>').html(makeButton() + item));
/ items.splice(items.indexOf(item),1);
/ $('#analysis').removeClass('span12').addClass('span7');
/ $('div#compare-buttons a').removeAttr("disabled");
/ }
/ });
/ $('#auto_compare').attr("placeholder", "Start typing the name of the language").removeAttr('disabled');
/ });
