.show-table td, .show-table th {
  text-align: center; }
.show-table.description-table {
  width: 40em; }
.show-table td:first-child {
  width: 10em;
  font-weight: bold;
  color: #e8ddcb; }
  .show-table td:first-child a {
    color: #cdb380; }

#header {
  background: #031634; }
  #header div {
    background: inherit;
    border: none; }
  #header li, #header a {
    text-decoration: none;
    text-shadow: none;
    color: #cdb380;
    font-weight: bold; }
