.show-table td, .show-table th {
  text-align: center; }
.show-table.description-table {
  width: 40em; }
.show-table td:first-child {
  width: 10em;
  font-weight: bold;
  color: #0088cc; }
  .show-table td:first-child a {
    color: #005580; }
.show-table td.tiny-col {
  width: 10%; }
.show-table td.small-col {
  width: 25%; }
.show-table td.medium-col {
  width: 30%; }
.show-table td.align-left {
  text-align: left; }
.show-table td.text-left {
  text-align: left; }
.show-table td.middle {
  vertical-align: middle; }

#header {
  background: black; }
  #header .brand {
    color: white; }
  #header div {
    background: inherit;
    border: none;
    padding: 0px 0px; }
    #header div li {
      padding: 0px 0px;
      color: white; }
      #header div li .nav-status {
        color: #0088cc;
        text-align: center;
        display: block; }
  #header .navbar-inner {
    padding: 5px 20px; }
    #header .navbar-inner .navbar-search {
      margin-top: 2px; }
      #header .navbar-inner .navbar-search select {
        padding: 4px 14px;
        padding-bottom: 0px;
        margin-top: 3px;
        color: #ffffff;
        background-color: #515151;
        border-color: #111111; }
      #header .navbar-inner .navbar-search input {
        margin-top: -6px;
        color: #ffffff;
        background: #515151;
        border-color: #111111; }
  #header .buttons {
    margin-left: 10px; }
    #header .buttons a {
      background: #515151;
      border-color: #111111;
      color: #ffffff;
      height: 80%;
      margin-top: 2px;
      padding: 7px 15px; }

#search-form .span7 {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid;
  border-color: #0088cc; }

.form-horizontal .text-adjust {
  color: #0088cc;
  padding: 4px; }

.italic {
  font-style: italic; }

.blue {
  color: #006699; }

a.btn {
  color: #333333; }

a.btn-danger, a.btn-info, a.btn-success, a.btn-warning, a.btn-inverse, a.btn-primary {
  color: #ffffff; }

.whitebox {
  background: rgba(245, 245, 245, 0.8);
  padding: 2%; }

.full-width {
  width: 100% !important; }

body.full_width #main h2 {
  margin-top: 0; }

a.btn.btn-inverse i.icon-white.icon-arrow-left {
  margin-top: 2px; }

input.autocomplete {
  height: 40px;
  position: relative;
  right: 30px; }

ul.typeahead.dropdown-menu {
  width: 34.75%; }

.will-paginate .pagination {
  height: 35px; }
