<% page_heading "Groups" %>

<h1>Listing groups</h1>
<div id='pagination_table'>
    <%= render :partial => "index_partial" %>
</div>
<% if can? :create, Group.new %>
  <%= link_to 'New Group', new_group_path %>
<% end %>
