- page_heading "Groups"
%h1 Listing groups
#pagination_table
  = render :partial => "index_partial"
- if can_see? :create, Group.new
  = link_to 'New Group', new_group_path, :class => "btn btn-default"
