- page_heading "Preview"
%h2 Terraling
%br/
%div Coming soon, an advanced linguistics search engine from the New York University Computer Science department.
%br/
%div
Send us an email at #{link_to support_email, "mailto:#{support_email}"} for more information.