//- Pagination Template

%script#pagination_bar{:type => "text/templates"}
  %ul
    {{#if prev.disabled}}
      %li.disabled#page-prev
        %span Prev
    {{else}}
      %li
        %a#page-prev{:href=> "#" }Prev
    {{/if}}
    {{#each pages}}
      {{#if this.current}}
        %li.active#current-page-{{this.number}}
          %span {{this.number}}
      {{else}}
        {{#if this.gap}}
          %li
            %span &hellip;
        {{else}}
          %li
            %a#page-{{this.number}}{:href => "#" } {{this.number}}
        {{/if}}
      {{/if}}
    {{/each}}
    {{#if next.disabled}}
      %li#page-next.disabled
        %span Next
    {{else}}
      %li
        %a#page-next{:href=> "#" } Next
    {{/if}}

// Save Search Template

%script#errors_template{ :type => "text/templates"}
  {{#if errors}}
    %ul#error_messages
      {{#each errors.full_messages}}
        %li {{this}}
      {{/each}}
  {{/if}}

//- Search Results

%script#regular_results{ :type=> "text/templates"}
  %table.show-table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        {{#if header.ling_0}}
          %th {{header.ling_0}}
        {{/if}}
        {{#if header.property_0}}
          %th {{header.property_0}}
        {{/if}}
        {{#if header.value_0}}
          %th{{header.value_0}}
        {{/if}}
        {{#if header.example_0}}
          %th {{header.example_0}}
        {{/if}}
        {{#if header.ling_1}}
          %th {{header.ling_1}}
        {{/if}}
        {{#if header.property_1}}
          %th {{header.property_1}}
        {{/if}}
        {{#if header.value_1}}
          %th {{header.value_1}}
        {{/if}}
        {{#if header.example_1}}
          %th {{header.example_1}}
        {{/if}}
    %tbody
      {{#each rows}}
      %tr
        {{#if this.ling_0}}
          %td {{this.ling_0}}
        {{/if}}
        {{#if this.property_0}}
          %td {{this.property_0}}
        {{/if}}
        {{#if this.value_0}}
          %td {{this.value_0}}
        {{/if}}
        {{#if this.example_0}}
          %td {{this.example_0}}
        {{/if}}
        {{#if this.ling_1}}
          %td {{this.ling_1}}
        {{/if}}
        {{#if this.property_1}}
          %td {{this.property_1}}
        {{/if}}
        {{#if this.value_1}}
          %td {{this.value_1}}
        {{/if}}
        {{#if this.example_1}}
          %td {{this.example_1}}
        {{/if}}
      {{/each}}

%script#cross_results{:type => "text/templates"}
  %table.show-table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        {{#each headers}}
          {{#if this.cross_property}}
            %th {{this.cross_property}}
          {{/if}}
          {{#if this.cross_value}}
            %th {{this.cross_value}}
          {{/if}}
        {{/each}}
        {{#if header.count}}
          %th {{header.count}}
        {{/if}}
    %tbody
      {{#each rows}}
      %tr
        {{#each this.pair}}
        {{#if this.cross_property}}
          %td {{this.cross_property}}
        {{/if}}
        {{#if this.cross_value}}
          %td {{this.cross_value}}
        {{/if}}
        {{/each}}
        {{#if this.count}}
          %td
           %a#lings_cross_{{this.count.index}}{:href => '#'} {{this.count.text}}
        {{/if}}
      {{/each}}

%script#compare_results{ :type => "text/templates"}
  {{#if commons}}
    #tableCommonHeader
      %h3.red_grad Properties in Common {{lings}}:
    %table.show-table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          {{#if header.commons.compare_property}}
            %th {{header.commons.compare_property}}
          {{/if}}
          {{#if header.commons.common_values}}
            %th {{header.commons.common_values}}
          {{/if}}
      %tbody
        {{#each rows.commons}}
        %tr
          {{#if this.compare_property}}
            %td {{this.compare_property}}
          {{/if}}
          {{#if this.common_values}}
            %td {{this.common_values}}
          {{/if}}
        {{/each}}
    {{/if}}
    {{#if differents}}
      #tableNotCommonHeader
        %h3.red_grad Properties not in Common:
      %table.show-table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          {{#if header.differents.compare_property}}
            %th {{header.differents.compare_property}}
          {{/if}}
          {{#each header.differents.ling_value}}
            %th {{this}}
          {{/each}}
      %tbody
        {{#each rows.differents}}
        %tr
          {{#if this.compare_property}}
            %td {{this.compare_property}}
          {{/if}}
          {{#each this.ling_value}}
            %td {{this}}
          {{/each}}
        {{/each}}
    {{/if}}

%script#clustering_results{:type => "text/templates"}
  #similarity_tree
    #download_div.well{:style => "display: none; width: auto; text-align: center;"}
      %h5 Save it:
      %a#download.btn.btn-danger.disabled{:href=>"#", :disabled=>"true"}
        Download
    #drawingID