<div id="pagination_top" class="apple_pagination will-paginate">
  <!-- render page links in the view: -->
  <%= will_paginate @search.results, renderer: BootstrapPagination::Rails %>
</div>
<table class="show-table table table-bordered table-striped table-hover search_results">
  <tr>
    <%- result_headers.each do |proc| -%>
        <th><%= proc.call @search.group %></th>
    <%- end -%>
  </tr>
  <%- @search.results.each do |result| -%>
     <%= render :partial => "searches/cross/result", :locals => { :result => result}, :inline => true %>
  <%- end -%>
</table>
<div id="pagination_bottom" class="apple_pagination will-paginate">
  <!-- render page links in the view: -->
  <%= will_paginate @search.results, renderer: BootstrapPagination::Rails %>
</div>
