<%- parent, child = result.parent, result.child -%>
<%= content_tag :div, search_result_attributes_for_cross(result) do %>
   <%- parent.each do |prop| -%>
      <div class="cell"><%= row_methods[:cross_property].call(*prop)%></div>
      <div class="cell"><%= row_methods[:cross_value].call(*prop)%></div>
   <%- end -%>
      <div class="cell"><%= row_methods[:count].call(child) %></div>
   <% end %>