<h1>Editing <% current_group.lings_property_name.pluralize %></h1>

<%= render 'form' %>

<%= link_to 'Show', [current_group, @lings_property] %> |
<%= link_to 'Back', group_lings_properties_path(current_group) %>
