<% content_for :scripts do%>
<script>
  function compareMapping(columns, entry){
    var func_dict = {
      // This is a common key
      'compare_property' : getProperty('parent'),
      // This is a common-only key-value
      'common_values'    : getValue('parent'),
      // This is a diff-only key-value
      'ling_value'       : getValue('child')
    };

    function getProperty(level){
      return function (entry, i){
        return isThere(entry, level, i, 'lings_property', 'property') ? entry[level][i].lings_property.property.name : ' ';
      };
    }

    function getValue(level){
      return function (entry, i){
        return isThere(entry, level, i, 'lings_property') ? entry[level][i].lings_property.value : ' ';
      };
    }

    function isCommon(entry){
      return entry.child.length === 1;
    }

    var col, ling,
        new_entry = {};

    // if entry is common
    if(isCommon(entry)){

      new_entry.common = true;
      // With this code will going to render multiple columns with the same values
      // new_entry['compare_property'] = func_dict['compare_property'](entry, 0);
      // new_entry['common_values']    = [];
      // // we need to iterate the other columns by the number of languages
      // for( col = 0; col < entry.lings.length; col++){
      //   new_entry['common_values'].push(func_dict['ling_value'](entry,0));
      // }
      for( col in columns.commons){
        new_entry[col] = func_dict[col](entry, 0);
      }
      
    }
    // entry diff
    else {
      for( col in columns.differents){
        
        if(col === 'ling_value'){
          new_entry[col] = [];
          for( ling = 0; ling<columns.differents[col].length; ling++){
            new_entry[col].push( func_dict[col](entry, ling) );
          }
        } else {
          new_entry[col] = func_dict[col](entry, 0);
        }
      }
    }

    return new_entry;
  }
</script>
<% end %>
<script id="compare_results" type="text/templates">
  {{#if commons}}
  <div id="tableCommonHeader">
    <h3 class="red_grad">Properties in Common {{lings}}:</h3>
  </div>
  <table class="show-table table table-bordered table-striped table-hover">
    <thead>
      <tr>
        {{#if header.commons.compare_property}}
          <th>{{header.commons.compare_property}}</th>
        {{/if}}
        {{#if header.commons.common_values}}
          <th>{{header.commons.common_values}}</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each rows.commons}}
      <tr>
        {{#if this.compare_property}}
          <td>{{this.compare_property}}</td>
        {{/if}}
        {{#if this.common_values}}
          <td>{{this.common_values}}</td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
  {{#if differents}}
  <div id="tableNotCommonHeader">
    <h3 class="red_grad">Properties not in Common:</h3>
  </div>
  <table class="show-table table table-bordered table-striped table-hover">
    <thead>
      <tr>
        {{#if header.differents.compare_property}}
          <th>{{header.differents.compare_property}}</th>
        {{/if}}
        {{#each header.differents.ling_value}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each rows.differents}}
      <tr>
        {{#if this.compare_property}}
          <td>{{this.compare_property}}</td>
        {{/if}}
        {{#each this.ling_value}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</script>

<!-- This is the visualization code -->
