<% content_for :scripts do%>
<script>
  // dynamically bind count links to show a modal with the lings
  $(document).on('click', '[id^="lings_cross_"]', showLingsModal);

  function showLingsModal(){
    var index = this.id.replace('lings_cross_', '');
    
    // find the right entry
    var entry = resultsJson.rows[index].child || [];

    // fill a list of lings names
    var lings_names = $.map(entry, function (el){
      return el.lings_property.ling.name;
    });

    // append the list in the modal
    var source = $('#lings_cross_template').html();
    var template = Handlebars.compile(source);
    var html = template({rows: lings_names});

    $('#lings_cross').html(html);

    // show the modal
    $('#cross_lings_modal').modal('show');

  }

  function crossMapping(table, entry, index){
    var func_dict = {
      'count'         : getCrossLings,
      'cross_property': getProperty('parent'),
      'cross_value'   : getValue('parent')
    };

    function getCrossLings(entry){
      return {text: isThere(entry, 'child', 'length') ?  entry['child'].length : '0', index: index};
    }

    function getProperty(level){
      return function (entry, i){
        return isThere(entry, level, i, 'lings_property', 'property') ? entry[level][i].lings_property.property.name : ' ';
      };
    }

    function getValue(level){
      return function (entry, i){
        return isThere(entry, level, i, 'lings_property') ? entry[level][i].lings_property.value : ' ';
      };
    }
    // columns is an array here!
    var pair_columns = table.headers;

    var new_entry = {pair: [], count: func_dict['count'](entry)};
    for( var pc=0; pc< pair_columns.length; pc++ ){
      var pair_entry = {};
      for(var c in pair_columns[pc]){
        if(pair_columns[pc].hasOwnProperty(c)){
          pair_entry[c] = func_dict[c](entry, pc);
        }
      }
      new_entry.pair.push(pair_entry);
    }

    return new_entry;
  }
</script>
<% end %>

<div id="cross_lings_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="saveModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <button type="button" class="close" id="minimize-example" aria-hidden="true">-&nbsp;</button>
    <span>
      <h4><%= current_group.ling0_name.pluralize %> in the row</h4>
    </span>
  </div>
  <div class="modal-body">
    <div class="row-fluid" id="lings_cross">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script id="cross_results" type="text/templates">
  <table class="show-table table table-bordered table-striped table-hover">
    <thead>
      <tr>
        {{#each headers}}
          {{#if this.cross_property}}
            <th>{{this.cross_property}}</th>
          {{/if}}
          {{#if this.cross_value}}
            <th>{{this.cross_value}}</th>
          {{/if}}
        {{/each}}
        {{#if header.count}}
          <th>{{header.count}}</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        {{#each this.pair}}
        {{#if this.cross_property}}
          <td>{{this.cross_property}}</td>
        {{/if}}
        {{#if this.cross_value}}
          <td>{{this.cross_value}}</td>
        {{/if}}
        {{/each}}
        {{#if this.count}}
          <td><a href='#' id="lings_cross_{{this.count.index}}">{{this.count.text}}</a></td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</script>



<script id="lings_cross_template" type="text/templates">
  <table class="show-table table table-bordered table-striped table-hover">
    <thead>
    </thead>
    <tbody>
      {{#each rows}}
      <tr><td>{{this}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</script>