<% content_for :scripts do%>
<script>
  function defaultMapping(columns, entry){
    var func_dict = {
      'ling_0'    : getLing('parent'),
      'property_0': getProperty('parent'),
      'value_0'   : getValue('parent'),
      'example_0' : getExamples('parent'),
      'ling_1'    : getLing('child'),
      'property_1': getProperty('child'),
      'value_1'   : getValue('child'),
      'example_1' : getExamples('child')
    };

    function getLing(level){
      return function (entry){
        return isThere(entry, level, 'lings_property', 'ling') ? entry[level].lings_property.ling.name : ' ';
      };
    }

    function getProperty(level){
      return function (entry){
        return isThere(entry, level, 'lings_property', 'property') ? entry[level].lings_property.property.name : ' ';
      };
    }

    function getValue(level){
      return function (entry){
        return isThere(entry, level, 'lings_property') ? entry[level].lings_property.value : ' ';
      };
    }

    function getExamples(level){
      return function (entry){
        var list = [];
        if(isThere(entry, level, 'lings_property', 'examples')){
          var examples = entry[level].lings_property.examples;

          for( var i=0; i < examples.length; i++){
            list.push(examples[i].name);
          }
        }
        return list.join(',') || ' ';
      };
    }

    var new_entry = {};
    for( var c in columns ){
      if(columns.hasOwnProperty(c)){
        new_entry[c] = func_dict[c](entry);
      }
    }
    return new_entry;
  }
</script>
<% end %>
<script id="regular_results" type="text/templates">
  <table class="show-table table table-bordered table-striped table-hover">
    <thead>
      <tr>
        {{#if header.ling_0}}
          <th>{{header.ling_0}}</th>
        {{/if}}
        {{#if header.property_0}}
          <th>{{header.property_0}}</th>
        {{/if}}
        {{#if header.value_0}}
          <th>{{header.value_0}}</th>
        {{/if}}
        {{#if header.example_0}}
          <th>{{header.example_0}}</th>
        {{/if}}
        {{#if header.ling_1}}
          <th>{{header.ling_1}}</th>
        {{/if}}
        {{#if header.property_1}}
          <th>{{header.property_1}}</th>
        {{/if}}
        {{#if header.value_1}}
          <th>{{header.value_1}}</th>
        {{/if}}
        {{#if header.example_1}}
          <th>{{header.example_1}}</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        {{#if this.ling_0}}
          <td>{{this.ling_0}}</td>
        {{/if}}
        {{#if this.property_0}}
          <td>{{this.property_0}}</td>
        {{/if}}
        {{#if this.value_0}}
          <td>{{this.value_0}}</td>
        {{/if}}
        {{#if this.example_0}}
          <td>{{this.example_0}}</td>
        {{/if}}
        {{#if this.ling_1}}
          <td>{{this.ling_1}}</td>
        {{/if}}
        {{#if this.property_1}}
          <td>{{this.property_1}}</td>
        {{/if}}
        {{#if this.value_1}}
          <td>{{this.value_1}}</td>
        {{/if}}
        {{#if this.example_1}}
          <td>{{this.example_1}}</td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</script>