- parent, child = result.parent, result.child
= content_tag :tr, search_result_attributes(result) do
  - parent_columns.each do |col|
    %td= row_methods[col].call(parent)
  - child_columns.each do |col|
    %td= row_methods[col].call(child) unless child.nil?
