<%- parent, child = result.parent, result.child -%>
<%= content_tag :div, search_result_attributes(result) do %>
    <%- parent_columns.each do |col| -%>
      <div class="cell"><%= row_methods[col].call(parent) %></div>
    <%- end -%>
    <%- child_columns.each do |col| -%>
      <div class="cell"><%= row_methods[col].call(child) unless child.nil? %></div>
    <%- end -%>
<% end %>