<div class="apple_pagination will-paginate">
  <!-- render page links in the view: -->
  <%= will_paginate @search.results, renderer: BootstrapPagination::Rails unless @search.search_comparison %>
</div>
<table class="show-table table table-bordered table-striped table-hover">
  <tr>
    <%- result_headers.each do |proc| -%>
        <th><%= proc.call @search.group %></th>
    <%- end -%>
  </tr>
  <%- pagination_enable = !@search.search_comparison -%>
  <%- @search.results(pagination_enable).each do |result| -%>
      <%= render :partial => "searches/result", :locals => { :result => result}, :inline => true %>
  <%- end -%>
</table>
<div class="apple_pagination will-paginate">
  <!-- render page links in the view: -->
  <%= will_paginate @search.results, renderer: BootstrapPagination::Rails unless @search.search_comparison %>
</div>
