<h2>Results</h2>
<div class="table spacing">
  <div class="row">
    <div class="cell">Languages</div>
    <div class="cell">Properties</div>
  </div>
  
  <%- @search.results.each do |result| -%>
    <%= content_tag :div, search_result_attributes(result) do %>
      <div class="cell"><%= result.ling_name %></div>
      <div class="cell"><%= result.prop_name %></div>
    <% end %>
  <%- end -%>
</div>