<h2>Results</h2>
<div class="table spacing">
  <div class="row">
    <div class="cell">Languages</div>
    <%- if @search.show? :property -%>
      <div class="cell">Properties</div>
    <%- end -%>
  </div>
  
  <%- @search.results.each do |result| -%>
    <%= render :partial => "searches/results/#{@search.class.name.underscore}", :locals => {:result => result} %>
  <%- end -%>
</div>