<%
   page_heading "Search"
   add_body_classes "full_width"
%>
<div id="mapping">
  <%= link_to "Map it!", :action => "geomapping", :search => @search.query if @search.mappable?%>
</div>
<div id="search_results" class="padded_left padded_right">
  <%- if @search.results.any? -%>
      <%= render :partial => 'searches/save_search_form' %>
      <div id="results_table">
            <%= render :partial => 'searches/results' %>
      </div>
  <%- else -%>
      <div class="notice">Your search query returned no results.</div>
  <%- end -%>
</div>