<% page_heading current_group.example_name.pluralize %>

<h1>Listing <%= current_group.example_name.pluralize %></h1>

<% if can? :create, Example.new{|e| e.group = current_group } %>
    <%= link_to "New #{current_group.example_name}", new_group_example_path(current_group) %>
<% end %>
<div id='pagination_table'>
    <%= render :partial => "index_partial" %>
</div>
<br />

<% if can? :create, Example.new{|e| e.group = current_group } %>
    <%= link_to "New #{current_group.example_name}", new_group_example_path(current_group) %>
<% end %>
