<% page_heading "New " + current_group.example_name %>

<h1>New <%= current_group.example_name %></h1>

<%= render 'form' %>

<br />
<%= link_to group_examples_path(current_group), :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back 
<% end %>
