- page_heading "New " + current_group.example_name
%h1
  New #{current_group.example_name}
= render 'form'
%br/
= link_to group_examples_path(current_group), :class => "btn btn-inverse" do
  %i.icon-white.icon-arrow-left>
  \&nbsp;Back
