- page_heading "New " + current_group.example_name
%h1
  New #{current_group.example_name}
= render 'form'
// TODO: point to the language which sent here
//%br/
//= link_to group_examples_path(current_group), :class => "btn btn-default" do
//  %i.glyphicon.glyphicon-arrow-left
//  Back
