body {
  background-color: #D5E6D5;
  color: #333;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
}
html>body{
  font-size:14px;
  line-height:1.5em;
}

html * {
  font-family: 'Open Sans', sans-serif;
}

body, p, ol, ul, td {
  font-family: 'Open Sans', sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.strong {
  font-weight:bold;
  color: #C30;
}

.gray {
  color:#CCCCCC;
}

.ten {
  font-size: 10px;
}

/*a           { color: #CC3300; text-decoration:none; }
a:visited   { color: #AC250E; }
a:hover     { color: #CC3300; text-decoration:underline; }*/

h1 { font-size:175%;}
h2 { font-size:150%;}
h3 { font-size:125%;}
h4, h5, h6 { font-size:110%;}

table th,
table td { padding: 5px;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice, .notice {
  color: green;
}

/* header */

#user_nav {
  color:#ccc;
  font-size:90%;
}
#user_nav a {
  color:white;
  font-weight:bold;
}
#group_nav_bar a {
  font-weight:normal;
  color:#ccc;
}
#group_nav_bar a.group {
  color:white;
}
/* main layout */
body.map { 
  background-image: url(/images/map_bg.gif); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body.map #main {
  background-color:transparent;
  box-shadow:none;
}

/*.container { width: 950px; padding:1em; margin:0 auto;}*/
/*body.full_width #main { width: auto; padding: 0 0 1em; }*/

#main {
  box-shadow: #CCC 0px 1px 3px;
  background-color:#fff;
}

#main h1, #main h2 {
  color:#C30;
  font-weight:bold;
  margin-bottom:1em;
}
body.full_width #main h2 {
  color:white;
  padding:1em;
  clear: both;
  margin-bottom:0;
  border-top:1px solid white;
  border-bottom:1px solid white;

  background: #C30; /* Old browsers */
  background: -moz-linear-gradient(top, #C30 0%, #8f0222 51%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C30), color-stop(51%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #C30 0%,#8f0222 51%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #C30 0%,#8f0222 51%,#6d0019 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #C30 0%,#8f0222 51%,#6d0019 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C30', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #C30 0%,#8f0222 51%,#6d0019 100%); /* W3C */
}

.table h3 { margin: 0 2em 0 0;}

/* home */
/*#inner{width:800px;margin:0 auto;}*/
/*#title{width:640px;padding: 3% 0 0 10%;}*/
#title h1{font-size: 5em;font-family: Helvetica,Verdana,Arial,sans-serif;color:#CC3300;border-bottom:1px solid #CC3300; margin:15px 0 0 0; padding:0 0 5px 0;}
#title h2{font-size: 2.2em;font-family: Garamond,"Times New Roman",serif;color:#0088cc;margin:15px 0 0 0;padding:0 0 15px 0;}
#intro{width:90%;padding: 0 0 0 10%;margin:10px 0 0 0;}
#intro p{font-size:1.2em;line-height:135%;text-align:justify;}
#intro p+p {margin-top:20px;}

#messages{ text-align:center; }
#messages p{
  background-color:#DDD;
  padding-bottom: 5px;
  padding-top: 5px;
}

#title h1 {
  font-size: 5em;
  font-family: Helvetica,Verdana,Arial,sans-serif;
  color: #C30;
  border-bottom: 1px solid #C30;
  line-height:1.25em;
}

#title h2 {
  font-size: 2.2em;
  font-family: Helvetica,Verdana,Arial,sans-serif;
  color: #0088cc;
  margin: 15px 0 0 0;
  padding: 0 0 15px 0;
}

/* Group Stats */

#numbers h2 {
    font-size: 2.2em;
    font-family: Helvetica,Verdana,Arial,sans-serif;
    color: #C30;
    border-bottom: 1px solid #C30;
    line-height:1.25em;
}

/* footer */
#footer { margin:30px auto; text-align:center; }

/* forms */
fieldset { margin-bottom: 10px; clear:left; border:1px solid #ccc; padding:10px;}
fieldset .label { width:150px;}

fieldset select, fieldset input[type="text"] { width:250px;}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#search_comparisons fieldset { border:none; padding:10px 0;}

#error_explanation {
  width: 60%;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 2em;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Search form */
#new_search .cell.label {
  color: #C30;
}
#new_search .cell.label,
#new_search .cell.field { width:45%;}

.hidden_label label { display:none;}
.selection_row .cell { padding-top:20px;}

img.loading {
    width: 24px;
    height: 24px;
    margin-top: 41px;
    margin-bottom: 42px;
}

/*.loading{
   color: #C30;
}*/


.progress-bar p {
  color: white;
  font-size: 12px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

#download_div {
  position: absolute;
  top: 210px;
  right: 8px;
  width: auto;
  height: auto;
}

