<div id="<%=category.name.gsub(' ', '') %>" class="accordion">
  <h2><%= category.name %></h2>
  <%= render :partial => "lings/mass_assignment/property", :collection => category.properties, :inline => true, :locals => { :category => category }  %>
</div>
