<div id="header" class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <%= link_to 'TerraLing', root_url, :class => "brand" %>
    <ul class="nav">
      <%= render :partial => 'layouts/group_nav_bar' unless Settings.in_preview%>
    </ul>
    <ul class="nav pull-right user-nav">
      <%= render :partial => 'layouts/status_bar'%>
    <ul>
  </div>
</div>
