<div id="header" class="navbar">
  <div class="navbar-inner">
    <%= link_to 'TerraLing', root_url, :class => "brand" %>
    <ul class="nav">
      <%= render :partial => 'layouts/navigation' unless Settings.in_preview %>
    </ul>
  </div>
</div>
