#header.navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
  .container
    // Grouped navbar for mobile devices
    .navbar-header
      %button.navbar-toggle{:data => {:toggle => "collapse", :target => "#terraling-navbar-collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'TerraLing', root_url, :class => "navbar-brand logo-darker logo-font brand-bigger"
    // Navbar for wider screens
    #terraling-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render :partial => 'layouts/group_nav_bar' unless Settings.in_preview
      %ul.nav.navbar-nav.pull-right.user-nav
        = render :partial => 'layouts/status_bar'
      %ul