- if user_signed_in?
  %li#userInfo.pull-right.buttons
    = current_user.email
    - if current_user && current_user.admin?
      %br/
      .col-md-.nav-status Site Admin
    - elsif current_user && @group && (current_user.admin? || current_user.administrated_groups.include?(@group))
      %br/
      .col-md-.nav-status Group Admin
  %li.pull-right.buttons= link_to "Sign Out", destroy_user_session_path, html_options = {:class => "btn"}
- else
  %li.pull-right.buttons= link_to "Sign In", new_user_session_path, html_options = {:class => "btn"}
  %li.pull-right.buttons= link_to "Sign Up", new_user_registration_path, html_options = {:class => "btn"}
