<% if user_signed_in? %>
  <li id="userInfo" class="pull-right buttons"> 
    <%= current_user.email %>
    <% if current_user && current_user.admin? %>
      <br /><span class="nav-status">Site Admin</span>
    <% elsif current_user && @group && (current_user.admin? || current_user.administrated_groups.include?(@group)) %>
      <br /><span class="nav-status">Group Admin</span>
    <% end %>
  </li>
  <li class="pull-right buttons"><%= link_to "Sign Out", destroy_user_session_path, html_options = {:class => "btn"}%></li>
<% else %>
  <li class="pull-right buttons"><%= link_to "Sign In", new_user_session_path, html_options = {:class => "btn"} %></li>
  <li class="pull-right buttons"><%= link_to "Sign Up", new_user_registration_path, html_options = {:class => "btn"}%></li> 
<% end %>
